<h2> Todo list : </h2>

<!-- Intitulés de colonne : -->
<table class="table">
    <tr>
        <th> ID tâche </th>
        <th> Titre tâche </th>
        <th> Résumé tâche </th>
        <th> Tâche effectuée </th>
    </tr>

<!-- Données des tâches : -->
    <tr class="" *ngFor="let tache of listeTaches">    
        <td> {{ tache.id }} </td>
        <td> {{ tache.titre }} </td>
        <td> {{ tache.resume }} </td>
        <td> 
            <input type="checkbox" ng-checked="done"> 
            <label for="done"> Done </label>
        </td>
        <td> 
            <button ng-click="marquerTacheFaite(tache)" ng-model='done'> Marquer la tâche comme "Faite" </button> 
            <!-- <button (click)="marquerTacheFaite(tache)"> Marquer la tâche comme "Faite" </button>  -->
        </td>
        <div>
            <button (click)="accederDetailTache(tache)"> Accéder au détail de la tâche {{ tache.id}} </button>  
        </div>
    </tr>

</table>

<div class="box">
    <div> <button routerLink="/nouvelleTache"> Ajouter une nouvelle tâche à la todo list </button> </div>
    <div> <button routerLink=""> Retour à la page d'accueil </button> </div>
</div>